[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "3.4.2"

[packages]
configobj = {editable = true, ref = "v5.0.6-add-optional-sections", git = "https://github.com/JEFuller/configobj.git"}
typing-inspect = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
